<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>


<div id="page-content" *ngIf="test===true">

  <div class="row">
    <div id="contentpdf" class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

      <div class="userWidget-1">
        <div class="avatar bg-info">
          <img src="assets/img/{{selectedResource.picture}}" width="50" height="50" />
          <div class="name osLight">{{selectedResource.lastname}} {{selectedResource.firstname}} </div>
        </div>
        <div *ngIf="selectedResource.contractype==='freelancer'" class="title" style="margin-left:100px;">
          Freelancer
        </div>

        <div *ngIf="selectedResource.contractype==='employee'" class="title" style="margin-left:100px;">
          Levio's Employee
        </div>

        <div class="title" >

          <img *ngFor='let in of counter(rate) ;let i = index' src="assets/img/star.png" width="20" height="20" />

        </div>
        <ul class="fullstats">

        </ul>
        <div class="clearfix"> </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"> </i> {{selectedResource.firstname}}'s Personal Informations</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tbody>
            <tr>
              <td><i class="fa fa-external-link ph-5"></i></td>
              <td> Sector </td>
              <td> {{selectedResource.sector}}</td>
            </tr>
            <tr>
              <td><i class="fa fa-location-arrow ph-5"></i></td>

              <td> Region </td>
              <td> {{selectedResource.region}}</td>
            </tr>
            <tr>
              <td><i class="fa fa-envelope-o ph-5"></i></td>
              <td> Profil </td>
              <td>{{selectedResource.profil}} </td>
            </tr>
            <tr>
              <td><i class="fa fa-briefcase ph-5"></i></td>
              <td> Seniority </td>
              <td>{{selectedResource.seniority}} (years) </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="panel tagcloud-widget" *ngIf="testskilladd===false">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user" ></i> {{selectedResource.firstname}}'s Skills </h3>
        </div>
        <div *ngFor="let skill of listskillResource"  class="panel-body">
          <span class="label label-primary">{{skill.value}}</span>
          <span (click)="deleteSkill(skill.value,skill)" class="fa fa-trash fa-lg"></span>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="skillDeleted">
          <strong>No {{skillDeleted.value}} ! - {{skillDeleted.skillRate}} !</strong>
        </div>
        <div class="panel-footer"><button class="btn btn-default" (click)="addskillbutton()">Add Skills</button></div>

      </div>

      <div class="panel tagcloud-widget" *ngIf="testskilladd===true">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"> </i> {{selectedResource.firstname}}'s Skills : Add Skills </h3>
        </div>
        <div class="alert alert-info" role="alert" *ngIf="nameskill!=''">
          <strong>Well done!</strong> {{nameskill}} added successfully.
        </div>
        <div *ngFor="let skill of listskill let i = index"  class="panel-body" >

        <div class="pretty p-default" >
          <input type="checkbox" (change)="addProp1($event,skill.value,skill.skillRate)" name="{{skill.value}}" [(ngModel)]="qtd[skill.id]" required>
          <div class="state">
            <label>{{skill.value}}</label>
          </div>
      </div>

        </div>


        <div class="panel-footer">
          <span class="label label-sm label-info">Your Rating : {{rating}}</span>
          <input type="submit" value="Back to Skills" (click)="valider()" class="btn btn-default"  />
        </div>

      </div>



      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"> </i> {{selectedResource.firstname}}'s Professional Informations</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tbody>
            <tr>
              <td> Contract Type </td>
              <td>{{selectedResource.contractype}}</td>

            </tr>
            <tr>
              <td> Get PDF   </td>
              <td><span  (click)="captureScreen()"  class="fa fa-download fa-lg"></span></td>


            </tr>
            <tr>
              <td> Resource's List </td>
              <td><span  (click)="gotoIndex()"  class="fa fa-users fa-lg"></span></td>
            </tr>

            <tr>
              <td> Status </td>

              <td *ngIf="selectedResource.state==='Available'" ><span class="label label-sm label-info">{{selectedResource.state}}</span></td>

              <td *ngIf="selectedResource.state==='notAvailable'"><span class="label label-sm label-danger">{{selectedResource.state}}</span></td>

              <td *ngIf="selectedResource.state==='SoonAvailable'"> <span class="label label-sm label-dark">{{selectedResource.state}}</span></td>


            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
      <div class="panel">
        <div class="panel-body pad-no">
          <!--Default Tabs (Left Aligned)-->
          <!--===================================================-->
          <div class="tab-base">
            <ul class="nav nav-tabs">
              <li class="active"> <a data-toggle="tab" href="#demo-lft-tab-1"> Calendar </a> </li>

            </ul>
            <div class="tab-content">

              <!-- Timeline -->
              <!--===================================================-->


              <div *ngIf="calendarOptions">
                <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                                 (eventResize)="updateEvent($event.detail)" (dayClick)="dayClick($event.detail)" (clickButton)="clickButton($event.detail)" [(eventsModel)]="events"></ng-fullcalendar>
              </div>

              <!--===================================================-->
              <!-- End Timeline -->


              <div class="alert alert-success" role="alert" *ngIf="titre!='' && titre=='Sikness' && displayEvent.event.color!='red'">
                <strong>{{titre}} ! Get Well Soon !</strong> From {{displayEvent.event.start}} to {{displayEvent.event.end}}
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="titre!='' && titre=='Holidays' && displayEvent.event.color!='red'">
                <strong>{{titre}} ! Enjoy & Have Fun !</strong> From {{displayEvent.event.start}} to {{displayEvent.event.end}}
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="titre!='' && displayEvent.event.color=='red'">
                <strong>{{titre}} ! Waiting for Confirmation !</strong> From {{displayEvent.event.start}} to {{displayEvent.event.end}}
              </div>
              <div class="alert alert-info" role="alert" *ngIf="titre!='' && titre=='Maternity' && displayEvent.event.color!='red'">
                <strong>{{titre}} ! Congratulations !</strong> From {{displayEvent.event.start}} to {{displayEvent.event.end}}
              </div>


            </div>
          </div>
          <!--===================================================-->
          <!--End Default Tabs (Left Aligned)-->
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="test===false">
  <app-resourcecomponent></app-resourcecomponent>
</div>



<ngx-smart-modal #myModal identifier="myModal">
  <div class="modal-header">

    <h4 class="modal-title"><span id="eventTitle">{{displayEvent?.title}}</span></h4>
  </div>

  <div class="modal-body">
    <p><b>start:</b> {{displayEvent?.start}}</p>
    <p><b>end:</b> {{displayEvent?.end}}</p>

  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm pull-right" >
      <span class="glyphicon glyphicon-remove"></span> Remove
    </button>
  </div>

</ngx-smart-modal>

