
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>

      <!--Page content-->
      <!--===================================================-->
      <div *ngIf="test===false  && testajout===false && testupdate===false" id="page-content" style="margin-top: -233px;">
        <div class="row">
          <div class="col-md-12">
            <!-- Basic Data Tables -->
            <!--===================================================-->
            <div class="panel" style="margin-top: 10%;">
              <div class="panel-heading">

              </div>


              <div class="panel-body">
                <div id="demo-dt-basic_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer" style="margin-top: -50px;">
                  <div class="row" style="margin-left: 8px;margin-top: 2%;">
                    <div class="col-sm-2"><input type="text" id="livesearch"  name="motachercher" [(ngModel)]="motachercher" placeholder="Live Search" class="form-control input-sm" /><span class="glyphicon glyphicon-search" style="margin-left: 4px;"></span></div><div class="col-sm-10">
                    <div id="demo-dt-basic_filter" class="dataTables_filter">


                    </div>
                  </div>
                  </div>

                  <div class="row" style="margin-top: 4%;">
                    <div class="col-sm-12">

                      <aside class="right-side">
                        <section class="content-header">
                          <button (click)="ajoutForm()" class="btn btn-light"> <a routerLink="/auth/AddResource"><i class="glyphicon glyphicon-user"></i></a> Add new Resource </button>
                        </section>
                        <router-outlet></router-outlet>

                        <section class="content paddingleft_right15">


                          <div class="row">
                            <div class="panel panel-warning ">

                              <div class="panel-body">
                                <div class="table-responsive">


                                  <div *ngFor="let resource of listResources | filter:motachercher">
                                    <div class="col-md-4">


                                      <div class="panel widget" style="width: 300px;">
                                        <div class="widget-header bg-purple">
                                          <img class="widget-bg img-responsive" src="assets/img/{{resource.picture}}" alt="Image">
                                        </div>
                                        <div class="widget-body text-center">
                                          <img alt="Profile Picture" class="widget-img img-border-light" src="assets/img/{{resource.picture}}">
                                          <h4 class="mar-no">{{resource.firstname}} {{resource.lastname}}</h4>
                                          <p class="text-muted mar-btm">{{resource.contractype}}</p>
                                        </div>
                                        <ul class="menu-items">
                                          <li *ngIf="resource.state==='Available'" id="Aavailable" >
                                            <a href="javascript:void(0)" class="clearfix">
                                              <i class="fa fa-check-circle fa-lg"></i> <span class="label label-table label-dark">{{resource.state}}</span>
                                            </a>
                                          </li>
                                          <li *ngIf="resource.state==='notAvailable'" id="nAvailable" >
                                            <a href="javascript:void(0)" class="clearfix">
                                              <i class="fa fa-ban fa-lg"></i> <span class="label label-table label-danger">{{resource.state}}</span>
                                            </a>
                                          </li>
                                          <li *ngIf="resource.state==='SoonAvailable'" id="sAvailable" >
                                            <a href="javascript:void(0)" class="clearfix">
                                              <i class="fa fa-warning fa-lg"></i> <span class="label label-table label-warning">{{resource.state}}</span>
                                            </a>
                                          </li>
                                          <li (click)="details(resource,resource.id)">
                                            <a href="javascript:void(0)" class="clearfix">
                                              <i  class="fa fa-user fa-lg"></i> View profile
                                            </a>
                                          </li>
                                          <li (click)="updateForm(resource,resource.id)">
                                            <a href="javascript:void(0)" class="clearfix">
                                              <i    class="fa fa-pencil fa-lg"></i> Edit profile
                                            </a>
                                          </li>
                                          <li (click)="deleteResource(resource.id,resource)">
                                            <a href="javascript:void(0)" class="clearfix">
                                              <i  class="fa fa-trash fa-lg"></i> Delete profile
                                            </a>
                                          </li>

                                        </ul>
                                        <!--===================================================-->
                                      </div>
                                    </div>

                                  </div>


                                </div>
                              </div>
                            </div>
                          </div>



                        </section>
                      </aside>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="popdiv" style="display:none;">
          Seniority : <label id="seniority"></label><br />
          Contract Type : <label id="contract"></label> <br />
          State : <label id="state"></label><br />
        </div>
      </div>

      <div *ngIf="test===true">
        <app-details-resource [resourceChild]="selectedResource" ></app-details-resource>
      </div>
      <!--===================================================-->
      <!--End page content-->

    <!--===================================================-->
    <!--END CONTENT CONTAINER-->
    <!--MAIN NAVIGATION-->
      <div class="form-horizontal" style="margin-top: 20px;margin-left: 500px;" *ngIf="testajout===true">
        <div class="panel panel-bordered panel-info" style="margin-top: 17px;margin-bottom: 36px;width: 500px;">
          <div class="panel-heading ui-sortable-handle">

            <h3 class="panel-title">Add new Resource : </h3>
          </div>
          <div class="panel-body">
            <p>
            <form #ngForm="ngForm">

            <div class="alert alert-info" role="alert" *ngIf="!contractype.valid || !lastname.valid||!firstname.valid||!picture.valid||!profil.valid||!region.valid||!sector.valid||!seniority.valid">
              <strong>Tous les champs sont obligatoires</strong>
            </div>
            <div class="form-group">
              <label class="col-md-2" style="margin-top: 2px;">
                ContractType:
              </label>
              <div class="col-md-10" style="padding-left: 70px;">
                <div class="pretty p-default p-round">
                  <input type="radio" value="freelancer" name="contractype" ngModel #contractype="ngModel" required>
                  <div class="state">
                    <label>Freelancer</label>
                  </div>
                </div>
                <div class="pretty p-default p-round">
                  <input type="radio" value="employee" name="contractype" ngModel #contractype="ngModel" required>
                  <div class="state">
                    <label>Employe</label>
                  </div>
                </div>

              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2" style="margin-top: 8px;">
                LastName:
              </label>
              <div class="col-md-10">
                <input type="text" class="form-control " name="lastname" id="lastname" ngModel #lastname="ngModel" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2" style="margin-top: 8px;">

                FirstName:
              </label>
              <div class="col-md-10">
                <input type="text" class="form-control " name="firstname" id="firstname" ngModel #firstname="ngModel"  required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2" style="margin-top: 8px;">
                Picture:
              </label>
              <div class="col-md-10">
                <input type="file" name="picture" id="picture" ngModel #picture="ngModel" (change)="onFileSelected($event)" required />
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2" style="margin-top: 8px;">
                Profil:
              </label>
              <div class="col-md-10">

                <input type="text" class="form-control "  name="profil" id="profil" ngModel #profil="ngModel" required>
              </div>
            </div>



            <div class="form-group">
              <label class="col-md-2" style="margin-top: 8px;">
                Region:
              </label>
              <div class="col-md-10">
                <input type="text" class="form-control "  name="region" id="region" ngModel #region="ngModel" required>
              </div>
            </div>



            <div class="form-group">
              <label class="col-md-2" style="margin-top: 8px;">
                Sector:
              </label>
              <div class="col-md-10">
                <input type="text" class="form-control "  name="sector" id="sector" ngModel #sector="ngModel" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2" style="margin-top: 8px;">
                Seniority:
              </label>
              <div class="col-md-10">
                <input type="number" class="form-control "  name="seniority" id="seniority1" ngModel #seniority="ngModel" required>
              </div>
            </div>



            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" [disabled]="!ngForm.valid " (click)="add(firstname.value,lastname.value,selectedimage,seniority.value,sector.value,profil.value,contractype.value,region.value)" class="btn btn-default" />
                <button class="btn btn-default" style="margin-left:15px;margin-bottom: 12px;margin-top: 12px;" (click)="gotoindex()"><i class="fa fa-user"></i> Close</button>

              </div>
            </div>
          </form>
          </div>
        </div>
      </div>



      <div class="form-horizontal" style="margin-top: 20px;margin-left: 500px;" *ngIf="testupdate===true && selectedResource">
        <div class="panel panel-bordered panel-info" style="margin-top: 17px;margin-bottom: 36px;width: 500px;">
          <div class="panel-heading ui-sortable-handle">

            <h3 class="panel-title">Update {{selectedResource.firstname}} : </h3>
          </div>
          <div class="panel-body">
            <p>
            <form >

              <div class="form-group">
                <label class="col-md-2" style="margin-top: 2px;">
                  ContractType:
                </label>
                <div class="col-md-10" style="padding-left: 70px;">
                  <div class="pretty p-default p-round">
                    <input type="radio" value="freelancer" name="contractype" [(ngModel)]="selectedResource.contractype" >
                    <div class="state">
                      <label>Freelancer</label>
                    </div>
                  </div>
                  <div class="pretty p-default p-round">
                    <input type="radio" value="employee" name="contractype" [(ngModel)]="selectedResource.contractype" >
                    <div class="state">
                      <label>Employe</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2" style="margin-top: 8px;">
                  LastName:
                </label>
                <div class="col-md-10">
                  <input type="text" class="form-control " name="lastname" id="lastnamee" [(ngModel)]="selectedResource.lastname" >
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2" style="margin-top: 8px;">
                  FirstName:
                </label>
                <div class="col-md-10">
                  <input type="text" class="form-control " name="firstname" id="firstnamee" [(ngModel)]="selectedResource.firstname"  >
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2" style="margin-top: 8px;">
                  Picture:
                </label>
                <div class="col-md-10">
                  <input type="file" name="picture" id="picturee" ngModel #picture="ngModel" (change)="onFileSelected($event)" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2" style="margin-top: 8px;">
                  Profil:
                </label>
                <div class="col-md-10">

                  <input type="text" class="form-control "  name="profil" id="profile" [(ngModel)]="selectedResource.profil" >
                </div>
              </div>



              <div class="form-group">
                <label class="col-md-2" style="margin-top: 8px;">
                  Region:
                </label>
                <div class="col-md-10">
                  <input type="text" class="form-control "  name="region" id="regione" [(ngModel)]="selectedResource.region" >
                </div>
              </div>



              <div class="form-group">
                <label class="col-md-2" style="margin-top: 8px;">
                  Sector:
                </label>
                <div class="col-md-10">
                  <input type="text" class="form-control "  name="sector" id="sectore" [(ngModel)]="selectedResource.sector" >
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2" style="margin-top: 8px;">
                  Seniority:
                </label>
                <div class="col-md-10">
                  <input type="text" class="form-control "  name="seniority" id="seniority12"  [(ngModel)]="selectedResource.seniority" >
                </div>
              </div>
            <div class="form-group">
              <label class="col-md-2" style="margin-top: 8px;margin-right: 43px;">
                Availability:
              </label>
              <div class="pretty p-default p-round">
                <input type="radio" value="Available" name="state" [(ngModel)]="selectedResource.state" >
                <div class="state">
                  <label>Available</label>
                </div>
              </div>
              <div class="pretty p-default p-round">
                <input type="radio" value="SoonAvailable" name="state" [(ngModel)]="selectedResource.state" >
                <div class="state">
                  <label>Soon Available</label>
                </div>
              </div>
              <div class="pretty p-default p-round">
                <input type="radio" value="notAvailable" name="state" [(ngModel)]="selectedResource.state" >
                <div class="state">
                  <label>Not Available</label>
                </div>
              </div>
            </div>



              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <input type="submit" value="Update Resource" (click)="update(selectedResource,picture.value)" class="btn btn-default"  />
                  <button class="btn btn-default" style="margin-left:15px;margin-bottom: 12px;margin-top: 12px;" (click)="gotoindex()"><i class="fa fa-user"></i> Close</button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
